.gambar-bangunan {
    max-width: 1366px;
    max-height: 578px;
    width: auto;
    height: auto;
  }
  .form-container {
    display: flex;
    justify-content: space-between;
    max-width: 600px; 
    margin: auto; 
  }
  .header-img{
    width: auto;
    height: auto;
  }
  .form-container > div {
    width: 48%; 
  }
  form {
    display: flex;
    flex-direction: column;
    max-width: 300px; 
    margin: 0;
  }

  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
  }

  label span{
      margin-bottom: 4px;
  }

  input, select, textarea {
    margin-bottom: 5px;
    padding: 5px;
    box-sizing: border-box;
  }

  input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #45a049;
  }

.header {
background-color: #f1f1f1;
padding: 10px;
text-align: right; 
}
.logo {

width: 50px;
height: 50px;
}

.menu {
float: right; 
}
.menu button {
margin-left: 10px; 
}

input[type="submit"] {
background-color: #4caf50;
color: white;
padding: 10px;
border: none;
border-radius: 4px;
cursor: pointer;
}

input[type="submit"]:hover {
background-color: #45a049;
}

#printResult {
margin-top: 20px;
}
.gambar-container {
display: flex;
}
.gambar-container {
margin-right: auto;
margin-left: 100px;
width: 20px;
height: 200px;
}

    .messages-us-form {
        width: 50%;
        margin: auto;
        text-align: left; 
    }

    .result-form {
        text-align: center;
    }



@media only screen and (max-width: 480px) {
    .header-wrapper,
    .gambar-container {
        flex-direction: column;
        align-items: center;
    }
}